<HTml>
  <body>
    <table>
      <% @videos.each do |video| %>
        <tr>
          <td>
          <%= video["res_w"] %>
          </td>
          <td>
          <%= video["res_h"] %>
          </td>
          <td>
          <%= video["dur_h"] %>
          </td>
          <td>
          <%= video["dur_m"] %>
          </td>
          <td>
          <%= video["dur_s"] %>
          </td>
          <td>
        <%= video["dur_ms"] %>
          </td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
